body.frontend {
  padding-top: 70px;
  
  h1
  {
    font-size: 24px;
  }
  h2
  {
    font-size: 20px;
  }

  .btn-primary:hover, .btn-primary:focus, .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus
  {
    background-color: #337ab7;
  
  }
  .btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus
  {
    background-color: #286090;
  
  }


  textarea
  {
    width: 100%;
  }

  .jumbotron 
  {
    li, .btn
    {
      font-size: 20px;
      font-weight: 200;
    
    }
  }


  
  .ql-size-huge
  {
    font-size: $font-size-h1;
  }
}
